<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <%- include('shared/header', {}) %>
    
    <main>
      <div class="container py-3">
        <% for(let item of items) { %>
          <div class="item_card card">
            <div class="card-body">
              <div class="item_user card-title">
                <img class="item_user-image" src="<%= item.user.profileImage %>" alt="<%= item.user.name %>'s profile image">
                <span class="item_user-name"><%= item.user.name %></span>
              </div>
              <div class="item_markdown card-text">
                <%- markdown.render(item.body) %>
              </div>
              <div class="item_created-at">
                <% const date = item.createdAt; %>
                <%= `${date.getFullYear()}/${date.getMonth() + 1}/${date.getDate()}` +
                ` ${('0' + date.getHours()).slice(-2)}:${('0' + date.getMinutes()).slice(-2)}` %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </main>

    <%- include('shared/footer', {}) %>
  </body>
</html>
